/* Setting panels */
.panel-button {
  border: none !important;
  border-top: 1px solid #ccc !important;
  border-left: 1px solid #ccc !important;
  border-right: 1px solid #ccc !important;
}
.panel-button-active {
  background: #fff !important;
}
.panel-button-inactive {
  border-bottom:  1px solid #fff !important;
}

/* Input form fields */
.form_label {
  width: 150px !important;
  margin-right: 20px;
  display: inherit;
}
.form_input {
  width: 250px !important;
  display: inherit;
}
select {
  padding: .5em .75em;
  vertical-align: middle;
  font-size: 12px;
  font-family: inherit;
  font-weight: inherit;
  border: 1px solid #aaa;
  border-radius: 2px;
  width:270px !important;
}

/* Messages */
/*  based on http://isabelcastillo.com/error-info-messages-css */
.busy, .info, .success, .warning, .error {
  margin: 10px 0px;
  padding:0px;
}
.busy     {color: #00529B;background-color: #BDE5F8;}
.info     {color: #00529B;background-color: #BDE5F8;}
.success  {color: #4F8A10;background-color: #DFF2BF;}
.warning  {color: #9F6000;background-color: #FEEFB3;}
.error    {color: #D8000C;background-color: #FFBABA;}
.busy i, .info i, .success i, .warning i, .error i {
  margin:5px 7px;
  vertical-align:middle;
}

/* Geofence */
#map {
  height: 100%;
}
#map-canvas {
  height: 400px;
  width: 100%;
  margin: 0px;
  margin-top: 7px;
  margin-bottom: -7px;
  padding: 0px
}

/* Debug log table */
table#logs tr th.datetime, table#logs tr td.datetime {
  border-top: 1px solid #ddd;
  vertical-align: top;
  padding: 3px;
  font-size:12px;
  width:175px;
}
table#logs tr th.entry, table#logs tr td.entry {
  border-top: 1px solid #ddd;
  vertical-align: top;
  padding: 3px;
  font-size:12px;
}
fieldset#logs {
  border-top: 1px solid #ddd;
  vertical-align: top;
  padding: 3px;
  overflow-y: scroll;
  max-height: 200px;
}
